<p appHighlight #f="appHighlightExport">
  Hello Angular
</p>
<button (click)="f.showMessage()">Show Message</button>
<hr>

<input type="text" name="firstName" ngModel #firstName="ngModel" required />
<button [disabled]="firstName.invalid">disabled ? </button>
<hr>

<ul>
  <li *ngFor="let item of list; let i = index; ">
    {{ i }} - {{ item }}
  </li>
</ul>
<button (click)="addNumber()">Add Number</button>

<ul>
  <li *ngFor="let item of listValue; let i = index; trackBy">
    {{ i }} - {{ item.value }}
  </li>
</ul>
<button (click)="addValue()">Add Value</button>
<hr>

<div *ngIf="display;then showBlock else nothingBlock">Hello World</div>
<div>
  <ng-template #showBlock>
    Hello World
  </ng-template>
</div>
<div>
  <ng-template #nothingBlock>
    nothing to show
  </ng-template>
</div>
<button (click)="display = !display">Toggle Display</button>
<hr>

<ng-container *ngIf="display">
  <h1>123456789</h1>
  <h1>987654321</h1>
</ng-container>
<hr>

<ng-template #hello>
  Hello World
</ng-template>
<div *ngTemplateOutlet="hello"></div>
<div *ngTemplateOutlet="hello"></div>
<div *ngTemplateOutlet="hello"></div>
<hr>

<ng-template #fuck let-gaga let-hohoho="another">
  <div>{{ gaga | json }}</div>
  <div>{{ hohoho | json }}</div>
</ng-template>
<div *ngTemplateOutlet="fuck; context: {$implicit: {value: 1}, another: {value: 2}}"></div>
<hr>

<ng-template appCarouselPage let-bg="background">
  <span [style.background-color]="bg">Page 1</span>
</ng-template>
<ng-template appCarouselPage let-bg="background">
  Page 2
</ng-template>
<ng-template appCarouselPage let-bg="background">
  Page 3
</ng-template>
<div *ngTemplateOutlet="displayPage; context: {background: 'red'}"></div>
<button (click)="next()">Next</button>
參考網址  =>  https://ithelp.ithome.com.tw/articles/10205829
<hr>

<button (click)="x('enzo', 26)">fun</button>
<button (click)="callDefault()">fun2</button>
